<div id="<%= dom_id dog_show %>">
  <p>
    <strong>Title:</strong>
    <%= dog_show.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= dog_show.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= dog_show.end_time %>
  </p>

</div>
