  <div id="my_calendar">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Show Name</th>
                <th>Start Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <% current_user.attendees.each do |attendee| %>
            <tr>
                <td> <%= attendee.dog_show.name %></td>
                <td><%= attendee.dog_show.start_time %></td>
                <td><%= attendee.dog_show.location %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
  </div>