<div id="<%= dom_id user %>">
  <p>
    <strong>First Name apples:</strong>
    <%= user.firstName %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

</div>
