
<%= month_calendar(events: @dog_shows) do |date, dog_shows| %>
  <%= date.day %>
  <% dog_shows.each do |dog_show| %>
    <div>
      <%= link_to "#{dog_show.name.truncate(10)}", "/dog_shows/#{dog_show.id}" %>
    </div>
  <% end %>
<% end %>
